.body {
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header > img {
    max-width: 200px;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main h2 {
    text-align: center;
}

.contacts_container {
    display: flex;
    flex-direction: column;
}

.aboutMe_container {
    max-width: 1280px;
}

.experience_container > a {
    text-align: center;
    margin-right: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.rs_img {
    width: 100px;
}